@model PassionProject.Models.TeacherDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<a href="/Teacher/Detail/@Model.TeacherID">Cancel</a>
<h3>@Model.TeacherName</h3>
<p>Date Of Birth: @Model.DateOfBirth.ToString("yyyy-MM-dd")</p>
<p>Address: @Model.Address </p>
<p>Postal Code: @Model.PostalCode </p>


<form action="/Student/Delete/@Model.TeacherID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>