@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>New Language & New Opportunities</h2>
    <p class="lead">Get an access to learn a lessons from the experts and will help you master with the languages faster</p>
    <p><a href="#" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <h2 style="text-align:center">I want to learn</h2>
    <div class="col-sm-1">
        <img src="~/Images/uk.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/spain.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/italy.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/japan.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/china.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/france.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/russia.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/german.png" />
    </div>
    <div class="col-sm-1">
        <img src="~/Images/south-korea.png" />
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <h2>Students</h2>
        <p><a class="btn btn-default" href="/Student/List">See Student's List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Teachers</h2>
        <p><a class="btn btn-default" href="/Teacher/List">See Teacher's List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Courses</h2>
        <p><a class="btn btn-default" href="/Course/List">See Course's List &raquo;</a></p>
    </div>
</div>