@model PassionProject.Models.StudentDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>DeleteConfirm</h2>

<a href="/Student/Detail/@Model.StudentID">Cancel</a>
<h3>@Model.StudentName</h3>
<p>Date Of Birth: @Model.DateOfBirth.ToString("yyyy-MM-dd")</p>
<p>Address: @Model.Address </p>
<p>Postal Code: @Model.PostalCode </p>


<form action="/Student/Delete/@Model.StudentID" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>